
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title th:text="#{index.page.title}">Page Title</title>

    <link rel="stylesheet"
          href="/webjars/bootstrap/css/bootstrap.min.css" />

    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

    <style>
        body {
            color: #333;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 14px;
            line-height: 1.42857;
        }
    </style>

</head>
</html>